<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header secondary-color white-text">
        Séléctionner une ou plusieurs langues
      </div>
      <div class="card-body">
        <form #filterLangForm='ngForm'>
          <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
              <span class="input-group-text secondary-color"><i class="fa fa-search text-white" aria-hidden="true"></i></span>
            </div>
            <input class="form-control my-0 py-1" ngModel name="search" type="text" placeholder="Rechercher" aria-label="Rechercher" appDebounceChange (debounceChange)="filterLanguages($event)">
          </div>
        </form>
        <div class="btn-group checkbox-list" id="checkbox-languages" data-toggle="buttons">
          <p *ngIf="filteredLanguages?.length==0">Il n'y a aucune langue à afficher</p>
          <label *ngFor="let language of filteredLanguages" class="btn btn-secondary form-check-label mb-1" [ngClass]="{'active': language.selected}">
            <input class="form-check-input d-none" type="checkbox" [checked]="language.selected ? 'checked' : null" autocomplete="off" (change)="onCheckBoxChange(language)" [value]="language.code" > {{ language.name }} ({{ language.code }})
          </label>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header secondary-color white-text">
        Ajouter une nouvelle langue
      </div>
      <div class="card-body">
        <form #newLangForm='ngForm' (ngSubmit)="onNewLangFormSubmit(newLangForm)">
          <div class="alert alert-danger" role="alert" *ngIf="newLangForm.invalid && !newLangForm.pristine">
            Veuillez renseigner tous les champs du formulaire et vérifier que le code soit unique.
          </div>
          <div class="md-form">
            <input [mdbValidate]="false" ngModel mdbInputDirective type="text" id="inputLanguageName" name="name" class="form-control form-control-sm" required minLength="2" maxLength="30" data-error="Nom invalide.">
            <label for="inputLanguageName">Nom de la langue</label>
          </div>
          <div class="md-form">
            <input [mdbValidate]="false" ngModel mdbInputDirective type="text" id="inputLanguageCode" name="code" class="form-control form-control-sm" required minLength="2" maxLength="5" data-error="Code invalide.">
            <label for="inputLanguageCode">Code</label>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-grey btn-rounded" (click)="newLangForm.reset()" mdbWavesEffect>Réinitialiser</button>
            <button type="submit" class="btn btn-green btn-rounded" mdbWavesEffect [disabled]="newLangForm.invalid">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header secondary-color white-text">
        {{ campaign?.displayName }} ({{ brand?.displayName }})
      </div>
      <div class="card-body">
        
        <form #campaignOptionsForm='ngForm' (ngSubmit)="onOptionsFormSubmit(campaignOptionsForm)">
          <div class="alert alert-danger" role="alert" *ngIf="campaignOptionsForm.invalid && !campaignOptionsForm.pristine">
            Veuillez renseigner tous les champs du formulaire.
          </div>
          <div class="md-form">
            <input [mdbValidate]="false" [ngModel]="campaign?.displayName" mdbInputDirective type="text" id="campaignDisplayName" name="campaignDisplayName" class="form-control form-control-sm" required min-length="2" max-length="30">
            <label for="campaignDisplayName">Nom d'affichage de la campagne</label>
          </div>
          <p *ngIf="masterLang==''">Veuillez sélectionner la langue master à l'aide des boutons radios.</p>
          <p *ngIf="masterLang!==''">La langue master est '{{ masterLang | uppercase }}'.</p>
          <div class="md-form input-group" *ngFor="let language of getLanguagesSelected(); first as isFirst">
            <span class="input-group-prepend radio-master-lang" *ngIf="masterLang==''">
              <input type="radio" [id]="'radio' + language.code" name="masterLang" [value]="language.code" [ngValue]="language.code" [ngModel]="masterLang" [required]="isFirst ? '' : null">
              <label [for]="'radio' + language.code"></label>
            </span>
            <input [mdbValidate]="false" [ngModel]="getSubject(language.code)" type="text" [id]="'subject' + language.code" [name]="'subject' + language.code" class="form-control form-control-sm" [placeholder]="'Objet ' + language.code | uppercase" required min-length="2" max-length="30">
          </div>
          <div class="fixed-action-btn">
            <a mdbInputDirective (click)="campaignOptionsForm.ngSubmit.emit()" class="btn-floating btn-lg secondary-color" [class.disabled]="campaignOptionsForm.invalid">
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
