<app-breadcrumb [breadcrumbs]=breadcrumbs></app-breadcrumb>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header primary-color white-text">
        Marques
      </div>
      <div class="card-body">

        <div class="input-group md-form form-sm form-1 pl-0">
          <div class="input-group-prepend">
            <span class="input-group-text primary-color"><i class="fa fa-search text-white" aria-hidden="true"></i></span>
          </div>
          <input class="form-control my-0 py-1" type="text" placeholder="Rechercher" aria-label="Rechercher" appDebounceChange (debounceChange)="filterBrands($event)">
        </div>

        <table class="table table-striped">
          
          <thead>
            <tr>
              <th>Nom</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngIf="filteredBrands?.length==0"><td colspan="2">Il n'y a aucune marque à afficher</td></tr>
            <tr *ngFor="let brand of filteredBrands">
              <td class="align-middle">{{ brand.displayName }}</td>
              <td class="text-right align-middle">
                <a class="btn-floating btn-sm btn-primary waves-light mr-1" (click)="openRecipientsModal(brand)" mdbWavesEffect><i class="fa fa-users"></i></a>
                <a [routerLink]="['/brands', brand.name, 'campaigns']" class="btn-floating btn-sm btn-primary waves-light" mdbWavesEffect><i class="fa fa-arrow-right"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination pagination-circle justify-content-center">
            <li class="page-item" >
              <a class="page-link" mdbWavesEffect aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active" ><a class="page-link" mdbWavesEffect>1</a></li>
            <li class="page-item" ><a class="page-link" mdbWavesEffect>2</a></li>
            <li class="page-item" ><a class="page-link" mdbWavesEffect>3</a></li>
            <li class="page-item" ><a class="page-link" mdbWavesEffect>4</a></li>
            <li class="page-item" ><a class="page-link" mdbWavesEffect>5</a></li>
            <li class="page-item" >
              <a class="page-link" mdbWavesEffect aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header primary-color white-text">
        Nouvelle marque
      </div>
      <div class="card-body d-flex justify-content-center">
        <a class="btn btn-grey btn-rounded" mdbWavesEffect>Créer une nouvelle marque</a>
      </div>
    </div>
  </div>
</div>

<app-modal-recipients #recipientsModal [brand]="brand"></app-modal-recipients>