//
// Variables
//

// screen size
$mobile-width: 600px;

// font-sizes


// colors
$black          : #1c1c1c;
$black-light    : #2d2d2d;
$grey           : #434343;
$grey-light     : #878787;

$blue           : #00aeef;
$blue-draked    : #31babc;
$blue-flash     : #00FFFF;

$white          : #ffffff;

$white-light    : #eef4f3;
$white-grey     : #cad2d0;
$white-blued    : #dfeae8;
