<!--FOOTER -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top">

      <table role="presentation" width="670" border="0" align="center" cellpadding="0" cellspacing="0" class="w100pc">
        <tr>
          <td class="section-footer" align="center" valign="top" bgcolor="#f4f4f3" style="margin: 0;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin: 0;">
              <tr>
                <td align="center" valign="top" class="footer-title" colspan="2" style="font-family: 'Nespresso Lucas', Arial, sans-serif; text-transform: uppercase">
                  <span class="fontArial">{{{data.title}}}</span>
                </td>
              </tr>
              <tr>
                <td class="col-sm-12" style="width: 50%">
                  <table class="col-content" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; margin: 0">
                    <tr>
                      <td align="center" class="footer-section-title" colspan="3">
                        <a target="_blank" href="{{{data.commanderlink}}}" class="fontArial" style="font-family: 'Nespresso Lucas',  Arial, sans-serif;">{{{data.commander}}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" style="padding: 0;">
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                          <tr>
                            <td align="center" valign="top">
                              <a target="_blank" href="{{{data.mobilelink}}}">
                                <img src="images/footer-mobile.png" alt="Nespresso" width="77" height="77" style="display:block;" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="92" height="12" class="footer-text">
                              <a target="_blank" href="{{{data.mobilelink}}}" class="fontArial" style="font-family: 'Nespresso Lucas',  Arial, sans-serif;">{{{data.mobile}}}</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td align="center" valign="top" style="padding: 0;">
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                          <tr>
                            <td align="center" valign="top">
                              <a target="_blank" href="{{{data.internetlink}}}">
                                <img src="images/footer-web.png" alt="Nespresso" width="77" height="77" style="display:block;" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="92" height="12" class="footer-text">
                              <a target="_blank" href="{{{data.internetlink}}}" class="fontArial" style="font-family: 'Nespresso Lucas',  Arial, sans-serif;">{{{data.internet}}}</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td align="center" valign="top" style="padding: 0;">
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                          <tr>
                            <td align="center" valign="top">
                              <a target="_blank" href="{{{data.supportlink}}}">
                                <img src="images/footer-phone.png" alt="Nespresso" width="77" height="77" style="display:block;" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="92" height="12" class="footer-text">
                              <a target="_blank" href="{{{data.supportlink}}}" class="fontArial" style="font-family: 'Nespresso Lucas',  Arial, sans-serif;">{{{data.support}}}</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="col-sm-12" style="width: 50%" valign="top">
                  <table class="col-content" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%">
                    <tr>
                      <td align="center" style="width: 33.33%" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" class="pad-5" style="width: 100%">
                          <tr>
                            <td align="center" class="footer-section-title">
                              <a target="_blank" href="{{{data.livraisonlink}}}" class="fontArial" style="font-family: 'Nespresso Lucas',  Arial, sans-serif;">{{{data.livraison}}}</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td align="center" style="width: 33.33%" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" class="pad-5" style="width: 100%">
                          <tr>
                            <td align="center" class="footer-section-title">
                              <a target="_blank" href="{{{data.servicelink}}}" class="fontArial" style="font-family: 'Nespresso Lucas',  Arial, sans-serif;">{{{data.service}}}</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td align="center" style="width: 33.33%" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" class="pad-5" style="width: 100%">
                          <tr>
                            <td align="center" class="footer-section-title">
                              <a target="_blank" href="{{{data.recyclerlink}}}" class="fontArial" style="font-family: 'Nespresso Lucas',  Arial, sans-serif;">{{{data.recycler}}}</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                          <tr>
                            <td align="center" valign="top">
                              <a target="_blank" href="{{{data.livraisonlink}}}">
                                <img src="images/footer-delivery.png" alt="Nespresso" width="77" height="77" style="display:block;" border="0">
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                          <tr>
                            <td align="center" valign="top">
                              <a target="_blank" href="{{{data.servicelink}}}">
                                <img src="images/footer-service.png" alt="Nespresso" width="77" height="77" style="display:block;" border="0">
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                          <tr>
                            <td align="center" valign="top">
                              <a target="_blank" href="{{{data.recyclerlink}}}">
                                <img src="images/footer-recycling.png" alt="Nespresso" width="77" height="77" style="display:block;" border="0">
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" colspan="2">
                  <table cellpadding="0" cellspacing="0" border="0" align="center" style="padding:20px 0 40px">
                    <tr>
                      <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td align="left" valign="top" style="padding: 0 4px">
                              <a href="{{{data.facebooklink}}}" target="_blank">
                                <img src="images/picto-facebook.png" alt="Facebook" width="40" height="40" style="display:block;" border="0" />
                              </a>
                            </td>
                            <td align="left" valign="top" style="padding: 0 4px">
                              <a href="{{{data.twitterlink}}}" target="_blank">
                                <img src="images/picto-twitter.png" alt="Twitter" width="40" height="40" style="display:block;" border="0" />
                              </a>
                            </td>
                            <td align="left" valign="top" style="padding: 0 4px">
                              <a href="{{{data.youtubelink}}}" target="_blank">
                                <img src="images/picto-youtube.png" alt="YouTube" width="40" height="40" style="display:block;" border="0" />
                              </a>
                            </td>
                            <td align="left" valign="top" style="padding: 0 4px">
                              <a href="{{{data.instagramlink}}}" target="_blank">
                                <img src="images/picto-instagram.png" alt="" width="40" height="40" style="display:block;" border="0" />
                              </a>
                            </td>
                            <td align="left" valign="top" style="padding: 0 4px">
                              <a href="{{{data.googlepluslink}}}" target="_blank">
                                <img src="images/picto-google.png" alt="" width="40" height="40" style="display:block;" border="0" />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<!--END FOOTER -->