<!--FOOTER LEGAL-->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top">

      <table role="presentation" width="670" border="0" align="center" cellpadding="0" cellspacing="0" class="w100pc">
        <tr>
          <td class="clearborder" align="center" valign="top">

            <table class="wrapper" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td align="center" style="padding: 40px 0 20px 0;">
                  <img alt="pictoo Nespresso" src="images/picto-nespresso.png" width="38" height="38" border="0" style="display: block; outline: none; border: none;"
                  />
                </td>
              </tr>
              <tr>
                <td class="trademark" align="center" valign="top" style="padding: 10px 20px 50px">
                  <p style="font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color:#b2b2b2; padding:0;">
                    {{{data.text}}} 
                  </p>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<!--END FOOTER LEGAL -->