<table role="component" width="600" class="w100pc" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" width="600"  class="w100pc padh30 pdb30 fontsize13" valign="top" style="font-family: FuturaBook, Verdana; padding: 0 20px 20px; font-size: 12px; color: #1c1c1c;">
        Pour être sûr de recevoir nos emails, ajoutez cette adresse <span style="color: #1c1c1c;">consumerservice-fr-fr@salomon.com</span> à votre carnet d'adresses.
      </td>
    </tr>
  </tbody>
</table>
