<table role="component" width="600" class="w100pc min600" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="middle" width="600" height="200" bgcolor="#1c1c1c" class="padh20 w100pc" style="padding: 30px 20px;">

                <table width="100%" class="w100pc" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="middle" align="left" style="padding-bottom: 30px; font-family: FuturaBT-MediumCondensed, Verdana; font-size: 24px; color: #FFFFFF; text-align: left; text-transform: uppercase;">Annecy pro store</td>
                        </tr>
                    </tbody>
                </table>
            
                <table width="100%" class="w100pc" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="colsplit" valign="top" align="left" width="40%">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding-right: 20px;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" width="20" style="padding-right: 20px; padding-bottom: 20px;">
                                               <img width="14" height="18" src="./images/picto-pin.png" alt="Location"> 
                                            </td>
                                            <td valign="top" class="fontsize18-l" style="text-align: left; padding-bottom: 20px; font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana;">
                                                Marques Avenue, 2 Rue Jean Cocteau 91100
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" width="20" style="text-align: left; padding-right: 20px; padding-bottom: 20px;">
                                                <img width="16" height="16" src="./images/picto-phone.png" alt="Phone"> 
                                            </td>
                                            <td valign="top" class="fontsize18-l" style="padding-bottom: 20px; font-size: 14px; color: #39bdbf; font-family: FuturaBook, Verdana;">
                                                01 60 88 42 04
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" width="20" style="text-align: left; padding-right: 20px; padding-bottom: 20px;">
                                                <img width="9" height="16" src="./images/picto-fb.png" alt="Facebook"> 
                                            </td>
                                            <td valign="top" class="fontsize18-l" style="padding-bottom: 20px; font-size: 14px; color: #ffffff !important; font-family: FuturaBook, Verdana;">
                                                <a href="#" class="fontsize18-l" style="font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana; text-decoration: none;"><strong style="font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana; text-decoration: none; font-weight: normal;">Facebook Page</strong></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="nomob" valign="top" align="right" width="10%">
                            </td>                            
                            <td class="colsplit" valign="top" align="right" width="50%">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="padt30 padh20">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="padb20" style="padding-bottom: 10px; font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana;">Monday</td>
                                                            <td class="padb20" style="text-align: right; padding-bottom: 10px; font-size: 12px; color: #ffffff; font-family: FuturaBook, Verdana;">10AM-12AM / 2PM - 7PM</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="padb20" style="padding-bottom: 10px; font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana;">Tuesday</td>
                                                            <td class="padb20" style="text-align: right; padding-bottom: 10px; font-size: 12px; color: #39bdbf; font-family: FuturaBook, Verdana;">CLOSED</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="padb20" style="padding-bottom: 10px; font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana;">Wednesday</td>
                                                            <td class="padb20" style="text-align: right; padding-bottom: 10px; font-size: 12px; color: #ffffff; font-family: FuturaBook, Verdana;">10AM-12AM / 2PM - 7PM</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="padb20" style="padding-bottom: 10px; font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana;">Thursday</td>
                                                            <td class="padb20" style="text-align: right; padding-bottom: 10px; font-size: 12px; color: #ffffff; font-family: FuturaBook, Verdana;">10AM-12AM / 2PM - 7PM</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="padb20" style="padding-bottom: 10px; font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana;">Friday</td>
                                                            <td class="padb20" style="text-align: right; padding-bottom: 10px; font-size: 12px; color: #ffffff; font-family: FuturaBook, Verdana;">10AM-12AM / 2PM - 7PM</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="padb20" style="padding-bottom: 10px; font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana;">Saturday</td>
                                                            <td class="padb20" style="text-align: right; padding-bottom: 10px; font-size: 12px; color: #ffffff; font-family: FuturaBook, Verdana;">10AM-12AM / 2PM - 7PM</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="padb20" style="padding-bottom: 10px; font-size: 14px; color: #ffffff; font-family: FuturaBook, Verdana;">Sunday</td>
                                                            <td class="padb20" style="text-align: right; padding-bottom: 10px; font-size: 12px; color: #39bdbf; font-family: FuturaBook, Verdana;">CLOSED</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>
    