<table role="component" width="600" class="w100pc" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td bgcolor="#FFFFFF">

                <table bgcolor="#FFFFFF" style="background-color: #ffffff;" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <!-- COL 2 -->
                            <td class="colsplit-bottom pad0" bgcolor="#1C1C1C" style="padding: 0 30px;" align="center" valign="middle">

                                <table class="w100pc" border="0" cellpadding="0" cellspacing="0" height="232">
                                    <tbody>
                                        <tr>
                                            <td class="fontsize14-l pad0 padh40 padt30 bluelinkapple" style="padding-top: 25px; font-family: FuturaBook, Verdana; font-size: 14px; color: #FFFFFF; text-align: center;" valign="bottom">12 juillet 2018</td>
                                        </tr>
                                        <tr>
                                            <td class="fontsize22-l pad0 padh40 padt20" style="padding-top: 10px; font-family: FuturaMedium, Verdana; font-size: 18px; color: #FFFFFF; text-align: center; text-transform: uppercase;" valign="bottom">BARCELONA</td>
                                        </tr>
                                        <tr>
                                            <td class="fontsize19-l pad0 padh40 padt20" style="padding-top: 10px; font-family: FuturaBook, Verdana; font-size: 16px; color: #FFFFFF; text-align: center;" valign="top">Lorem ipsum dolor skit amet comstectutir adepiscin elit, sed diam monummy nibh euismod.</td>
                                        </tr>
                                        <tr>
                                            <td class="fontsize22-l padh40 padb40 padt20" style="padding-top: 10px; padding-bottom: 25px;" valign="top" align="center">
                                                {{> call-to-action text="See&nbsp;more"}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                            <!-- COL 1 -->
                            <td class="colsplit-top pad0 clearheight" style="background-color: white;" align="center" width="300" height="232">
                                <a href="#"><img class="showmob" src="./images/image-single-event-300-232.png" alt="Single event"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>
