<table role="component" width="600" class="w100pc" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td bgcolor="#eef4f3" class="padh40 padt40 padt40 w100pc" style="padding: 40px 0; width: 600px;" width="600">

                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="showmob-ib w49pc pad0" style="padding: 0 14px;" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="height: 50px; padding-top: 20px;" valign="middle">
                                                <a href="#"><img src="./images/service-footer-help.png" alt="Help"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="padh10" style="font-family: FuturaBook, Verdana; font-size: 10px; text-align: center; text-transform: uppercase; padding-top: 20px;">
                                                Demandez conseil en direct à un expert produit salomon
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="nomob" valign="middle" style="background-color: #dfe5e4;">
                                <img src="./images/sep-services-footer.jpg" alt="|" width="1" height="156">
                            </td>
                            <td class="showmob-ib w49pc pad0 " style="padding: 0 14px;" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="height: 50px; padding-top: 20px;" valign="middle">
                                                <a href="#"><img src="./images/service-footer-delivery.png" alt="Delivery"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="padh10" style="font-family: FuturaBook, Verdana; font-size: 10px; text-align: center; text-transform: uppercase; padding-top: 20px;">
                                                vous avez 15 jours pour retourner votre commande
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="nomob" valign="middle" style="background-color: #dfe5e4;">
                                <img src="./images/sep-services-footer.jpg" alt="|" width="1" height="156">
                            </td>
                            <td class="showmob-ib w49pc pad0 padt40" style="padding: 0 14px;" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="height: 50px; padding-top: 20px;" valign="middle">
                                                <a href="#"><img src="./images/service-footer-return.png" alt="Return"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="padh10" style="font-family: FuturaBook, Verdana; font-size: 10px; text-align: center; text-transform: uppercase; padding-top: 20px;">
                                                vous avez 15 jours pour retourner votre commande
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="nomob" valign="middle" style="background-color: #dfe5e4;">
                                <img src="./images/sep-services-footer.jpg" alt="|" width="1" height="156">
                            </td>
                            <td class="showmob-ib w49pc pad0 padt40" style="padding: 0 14px;" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="height: 50px; padding-top: 20px;" valign="middle">
                                                <a href="#"><img src="./images/service-footer-warranty.png" alt="Warranty"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="padh10" style="font-family: FuturaBook, Verdana; font-size: 10px; text-align: center; text-transform: uppercase; padding-top: 20px;">
                                                    tous nos produits bénéficient d’une garantie qualité de 2 à 5 ans
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>
