<table role="component" width="600" class="w100pc" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td bgcolor="#eef4f3" class="padh40 padt30 padb30 w100pc" width="600" style="padding: 20px 0; width: 600px;">

                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="text-align: center; font-family: FuturaCondensedRegular, Verdana; font-size: 24px; color: #1c1c1c; text-transform: uppercase;"><span class="showmob" style="color: #31babc;">Latest chance!</span> Lorem ipsum dolors</td>
                        </tr>
                    </tbody>
                </table>
    
            </td>
        </tr>
    </tbody>
</table>
      