<table class="w100pc center" cellpadding="0" cellspacing="0" border="0" bgcolor="#31babc">
  <tbody>
    <tr>
      <td class="w49pc" width="0"></td>
      <td class="right" align="center" valign="middle">
        <!--[if gte mso 9] ><table><tbody><tr><td style="padding: 0.4em 10px 0.4em 18px; text-decoration: none;"><![endif] -->
        <a href="http://google.ch" target="_blank" class="fontsize19-l btn-right" style="font-family: FuturaBT-MediumCondensed, Verdana; font-size: 17px; white-space: nowrap; text-decoration: none; color: #FFFFFF; text-transform: uppercase; padding: 10px 10px 10px 20px; display: inline-block;">
          <strong style="font-weight:normal; text-decoration: none;"><span class="fontVerdana">{{{text}}}</span></strong>
        </a>
        <!--[if gte mso 9] ></td></tr></tbody></table><![endif] -->
      </td>
      <td class="left" valign="middle">
        <!--[if gte mso 9] ><table><tbody><tr><td style="padding: 5px 18px 6px 10px; text-decoration: none;"><![endif] -->
        <a href="http://google.ch" class="btn-left fontsize20-l" target="_blank" style="line-height: 24px; font-size: 24px; color: #FFFFFF; text-decoration: none; padding: 10px 20px 10px 10px; display:inline-block;">
          <strong style="font-weight:normal">➞</strong>
        </a>
        <!--[if gte mso 9] ></td></tr></tbody></table><![endif] -->
      </td>
      <td class="w49pc" width="0"></td>
    </tr>
  </tbody>
</table>
