//
// Variables
//

// screen size
$mobile-width: 640px;

// font families
$font-light: 'Nespresso Lucas Light',  Arial, sans-serif;
$font-regular: 'Nespresso Lucas',  Arial, sans-serif;
$font-bold: 'Nespresso Lucas XtraBd',  Arial, sans-serif;

// font-sizes
$font-size-xsmall: 11px;
$font-size-small: 12px;
$font-size: 17px;
$font-size-big: 22px;
$font-size-xbig: 30px;
$font-size-huge: 80px;

// colors
$color-white: #fff;
$color-black: #231f20;
$color-ocher-xlight: #f8f7f3;
$color-ocher-light: #d5cab9;
$color-ocher: #d9caaf;
$color-ocher-dark: #bca482;
$color-connoisseur: #bca482;
$color-expert: #b31d42;
$color-ambassador: #bc913b;