<div class="row">
  <div class="col">
    <app-breadcrumb [breadcrumbs]=breadcrumbs></app-breadcrumb>
  </div>
  <div class="builder-actions text-right col">
    <button type="button" class="btn btn-primary btn-rounded waves-light" (click)="showPreview()" mdbWavesEffect>Aperçu</button>
    <button type="button" class="btn btn-primary btn-rounded waves-light" mdbWavesEffect>Litmus</button>
    <button type="button" class="btn btn-primary btn-rounded waves-light" mdbWavesEffect>Envoi</button>
    <button type="button" class="btn btn-primary btn-rounded waves-light" mdbWavesEffect>Exporter</button>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <div class="card" #dragNDropBlocksList [ngClass]="{'fixed': blocksFixed}">
      <div class="card-header primary-color white-text">
        Blocs
      </div>
      <div class="card-body row">
        <div class="input-group mb-3 col-12">
          <div class="input-group-prepend">
            <span class="input-group-text primary-color"><i class="fa fa-filter text-white" aria-hidden="true"></i></span>
          </div>
          <input class="form-control my-0 py-1" type="text" placeholder="Filtrer" aria-label="Filtrer" [value]="filterBlock" [formControl]="filterBlockControl">
        </div>
        <div class="col-12" [sortablejs]="filteredBlocks" [sortablejsOptions]="list1Options" id="builderBlockList">
          <div class="alert alert-danger" *ngIf="filteredBlocks?.length==0">Il n'y a aucun bloc à afficher</div>
          <div *ngFor="let block of filteredBlocks" [class]="'card block text-center mb-3 ' + block?.name" [blockData]="block">
            <img class="img-fluid" [src]="block?.thumbnailUrl" [alt]="block?.displayName">
            <div class="card-body">
              <h4 class="card-title">{{ block.displayName }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-7">
    <div class="card">
      <div class="card-header primary-color white-text">
        Contenu de l'email
      </div>
      <div class="card-body">
        <div class="alert grey white-text" role="alert">Déposer les blocs ici.</div>
        <div sortablejs [sortablejsOptions]="list2Options" id="blockDropZone">
          <div *ngFor="let block of campaignStructure" [class]="'card block mb-3 ' + block.name">
            <img class="img-fluid" [src]="getBlockTypeInfo(block.blockType).thumbnailUrl" [alt]="getBlockTypeInfo(block.blockType).displayName">
            <div class="card-body row">
                <div class="text col-sm-8">
                  <h4 class="card-title">{{ getBlockTypeInfo(block.blockType).displayName }}</h4>
                  <p>#ID: {{ block.name }}</p>
                </div>
                <div class="actions col-sm-4 text-right">
                    <a class="btn-floating btn-sm btn-primary waves-light mr-1" (click)="showDeleteConfirmation(block)" mdbWavesEffect>
                      <i class="fa fa-trash"></i>
                    </a>
                    <a class="btn-floating btn-sm btn-primary waves-light" (click)="showBlockSettings(block)" mdbWavesEffect *ngIf="getBlockTypeInfo(block.blockType).properties.length>0">
                      <i class="fa fa-cog"></i>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalBlockRemove="mdb-modal" class="modal fade" id="modalBlockRemove" tabindex="-1" role="dialog" aria-labelledby="Supprimer le bloc" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header white-text">
        <h4 class="modal-title w-100" id="myModalLabel">Suppression du bloc</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalBlockRemove.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="block">
        <p>Êtes-vous sure de bien vouloir supprimer le bloc #ID '{{ block.name }}' ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey btn-sm" data-dismiss="modal" (click)="modalBlockRemove.hide()" mdbWavesEffect>Annuler</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="removeBlock(block)" mdbWavesEffect>Supprimer</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalBlockSettings="mdb-modal" class="modal fade" id="modalBlockSettings" tabindex="-1" role="dialog" aria-labelledby="Options du bloc" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">
        <!-- Tab panels -->
        <mdb-tabset #langTabs [buttonClass]="'nav nav-tabs primary-color'" [contentClass]="''" class="tab-content">
          <mdb-tab *ngFor="let lang of campaignLanguages" class="tab-pane fade in show active" [id]="'tab-'+lang" role="tabpanel" [heading]="lang | uppercase">
            <!--Body-->
            <div class="modal-body mb-1" *ngIf="block">
              <!-- Switch -->
              <div class="switch danger-switch">
                <label>
                  Cacher
                  <input type="checkbox" [id]="'show-block-'+lang" [name]="'show-block-'+lang" [checked]="isVisible(lang)" (change)="toggleVisibility(lang)">
                  <span class="lever"></span>
                  Afficher
                </label>
              </div>
              <div class="md-form" *ngFor="let property of getBlockTypeInfo(block.blockType).properties" [ngSwitch]="property.type">
                <div *ngSwitchCase="'text'">
                  <input mdbInputDirective type="text" class="form-control" [id]="property.name+'-'+lang" [name]="property.name+'-'+lang" [value]="getPropertyValue(property.name, lang)" appDebounceChange (debounceChange)="setPropertyValue(property.name, lang, $event)" [required]="property.required">
                  <label [for]="property.name+'-'+lang">{{ property.displayName }}<sup *ngIf="property.required">*</sup></label>
                </div>
                <div *ngSwitchCase="'number'">
                    <input mdbInputDirective type="number" class="form-control" [id]="property.name+'-'+lang" [name]="property.name+'-'+lang" [value]="getPropertyValue(property.name, lang)" appDebounceChange (debounceChange)="setPropertyValue(property.name, lang, $event)" [required]="property.required">
                    <label [for]="property.name+'-'+lang">{{ property.displayName }}<sup *ngIf="property.required">*</sup></label>
                  </div>
                <div *ngSwitchCase="'url'">
                  <input mdbInputDirective type="text" class="form-control" [id]="property.name+'-'+lang" [name]="property.name+'-'+lang" customRegex="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" [value]="getPropertyValue(property.name, lang)" appDebounceChange (debounceChange)="setPropertyValue(property.name, lang, $event)" [required]="property.required">
                  <label [for]="property.name+'-'+lang">{{ property.displayName }}<sup *ngIf="property.required">*</sup></label>
                </div>
                <div *ngSwitchCase="'img'" class="file-field">
                  <div class="col-6 img-preview">
                    <img [src]="getPropertyValue(property.name, lang) !== '' ? getPropertyValue(property.name, lang) : 'assets/img/placeholder.jpg'" class="img-fluid">
                  </div>
                  <div class="col-6 img-button">
                    <div class="btn btn-primary btn-rounded">
                      <span>Séléctionner une image</span>
                      <input type="file" [id]="property.name+'-'+lang" [name]="property.name+'-'+lang" (change)="uploadFile(property.name, lang, $event)">
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="'color'">
                  <span class="color-preview prefix mr-1 rounded" [style.background]="getPropertyValue(property.name, lang)"></span>
                  <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control color" [id]="property.name+'-'+lang" name="property.name+'-'+lang" [required]="property.required"
                  (colorPickerSelect)="colorPickerChange(property.name, lang, $event)"
                  [cpCancelButton]="true"
                  [cpCancelButtonClass]= "'btn btn-primary btn-sm mr-1'"
                  [cpOKButton]="true"
                  [cpSaveClickOutside]="false"
                  [cpOKButtonClass]= "'btn btn-green btn-sm'"
                  [value]="getPropertyValue(property.name, lang)"
                  [colorPicker]="getPropertyValue(property.name, lang)"/>
                  <label [for]="property.name+'-'+lang">{{ property.displayName }}<sup *ngIf="property.required">*</sup></label>
                </div>
                <div *ngSwitchCase="'textarea'">
                  <textarea mdbInputDirective class="md-textarea form-control" rows="3" type="text" [id]="property.name+'-'+lang" name="property.name+'-'+lang" [required]="property.required" appDebounceChange (debounceChange)="setPropertyValue(property.name, lang, $event)">
                    {{ getPropertyValue(property.name, lang) }}
                  </textarea>
                  <label [for]="property.name+'-'+lang">{{ property.displayName }}<sup *ngIf="property.required">*</sup></label>
                </div>
              </div>
            </div>
            <!--Footer-->
            <div class="modal-footer display-footer">
              <button type="button" class="btn btn-grey btn-sm" data-dismiss="modal" (click)="modalBlockSettings.hide()" mdbWavesEffect>Fermer</button>
            </div>
          </mdb-tab>
        </mdb-tabset>
      </div>
    </div>
  <!--/.Content-->
  </div>
</div>