<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header secondary-color white-text">
        Campagnes
      </div>
      <div class="card-body">

        <div class="input-group md-form form-sm form-1 pl-0">
          <div class="input-group-prepend">
            <span class="input-group-text secondary-color"><i class="fa fa-search text-white" aria-hidden="true"></i></span>
          </div>
          <input class="form-control my-0 py-1" type="text" placeholder="Rechercher" aria-label="Rechercher" appDebounceChange (debounceChange)="filterCampaigns($event)">
        </div>

        <table class="table table-striped">
          
          <thead>
            <tr>
              <th class="align-top">Nom <mdb-icon icon="sort" (click)="sortBy(filteredCampaigns, 'displayName')"></mdb-icon></th>
              <th class="align-top">Date modification <mdb-icon icon="sort" (click)="sortBy(filteredCampaigns, 'createdAt')"></mdb-icon></th>
              <th class="text-right actions align-top">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngIf="filteredCampaigns?.length==0"><td colspan="3">Il n'y a aucune campagne à afficher</td></tr>
            <tr *ngFor="let campaign of filteredCampaigns">
              <td class="align-middle"><a [routerLink]="['/brands', brand.name, 'campaigns', campaign.name, 'options']">{{ campaign.displayName }}</a></td>
              <td class="align-middle">{{ campaign.updatedAt || campaign.createdAt | date:'dd/MM/yyyy' }}</td>
              <td class="text-right align-middle actions">
                <a [routerLink]="['/brands', brand.name, 'campaigns', campaign.name, 'options']" class="btn-floating btn-sm btn-secondary waves-light mr-1" mdbTooltip="Editer" placement="top" mdbWavesEffect><i class="fa fa-edit"></i></a>
                <a class="btn-floating btn-sm btn-secondary waves-light mr-1" (click)="showCloneConfirmation(campaign.name)" mdbTooltip="Dupliquer" placement="top" mdbWavesEffect><i class="fa fa-clone"></i></a>
                <a class="btn-floating btn-sm btn-secondary waves-light" (click)="showArchiveConfirmation(campaign.name)" mdbTooltip="Supprimer/Archiver" placement="top" mdbWavesEffect><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination pagination-circle justify-content-center pg-red" *ngIf="numberOfPage > 1 && !filtered">
            <li class="page-item" >
              <a class="page-link" mdbWavesEffect aria-label="First" (click)="setPage(1)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let i of Arr(numberOfPage).fill(1); let page = index" [class.active]="pageActive == page+1">
              <a class="page-link" mdbWavesEffect (click)="setPage(page+1)">
                {{ page+1 }}
              </a>
            </li>
            <li class="page-item" >
              <a class="page-link" mdbWavesEffect aria-label="Last" (click)="setPage(numberOfPage)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header secondary-color white-text">
        Nouvelle campagne
      </div>
      <div class="card-body d-flex justify-content-center">
        <a class="btn btn-grey btn-rounded" mdbWavesEffect (click)="modalNew.show()">Créer une nouvelle campagne</a>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalArchive="mdb-modal" class="modal fade" id="modalArchive" tabindex="-1" role="dialog" aria-labelledby="Archiver la campagne" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header white-text">
          <p class="heading lead">Archiver la campagne</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalArchive.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-trash fa-4x mb-3 animated rotateIn"></i>
          <p>Êtes-vous sûr de vouloir archiver<br/>la campagne <strong>{{campaign}}</strong> ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <a class="small" (click)="deleteCampaign(campaign)">Supprimer définitivement</a>
        </div>
        <div>
          <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="modalArchive.hide()" mdbWavesEffect>Annuler</button>
          <button type="button" class="btn btn-secondary" (click)="archiveCampaign(campaign)" mdbWavesEffect>Archiver</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalClone="mdb-modal" class="modal fade" id="modalClone" tabindex="-1" role="dialog" aria-labelledby="Dupliquer la campagne" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Dupliquer la campagne</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalClone.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Êtes-vous sûr de vouloir dupliquer<br/>la campagne <strong>{{campaign}}</strong> ?</p>
        <form #duplicateForm="ngForm">
          <div class="md-form form-sm">
            <i class="fa fa-tag prefix"></i>
            <input mdbInputDirective [mdbValidate]="false" [(ngModel)]="duplicateName" name="duplicateName" type="text" id="inputCampaignName" class="form-control" required>
            <label for="inputCampaignName">Nouveau nom</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalClone.hide()" mdbWavesEffect>Annuler</button>
        <button type="button" class="btn btn-green" [disabled]="duplicateForm.invalid" (click)="cloneCampaign(campaign)" mdbWavesEffect>Dupliquer</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalNew="mdb-modal" class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="Nouvelle campagne" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Nouvelle campagne</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalNew.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="md-form form-sm">
            <i class="fa fa-tag prefix"></i>
            <input mdbInputDirective #inputNewCampaignName="ngModel" [(ngModel)]="newCampaignName" type="text" id="inputNewCampaignName" class="form-control" required minlength="2" maxlength="50" data-error="Le nom doit faire entre 2 et 50 caractère">
            <label for="inputNewCampaignName">Nom de la campagne</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalNew.hide()" mdbWavesEffect>Annuler</button>
          <button type="button" class="btn btn-green" [disabled]="inputNewCampaignName.invalid" (click)="newCampaign()" mdbWavesEffect>Créer</button>
        </div>
      </div>
    </div>
  </div>
