.file-field {
    .img-button {
        text-align: center;
        .btn {
            display: inline-block;
        }
    }
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.color-preview {
    width: 35px;
    height: 35px;
    background: repeating-linear-gradient(
        45deg,
        #F2F2F2,
        #F2F2F2 10px,
        #CCCCCC 10px,
        #CCCCCC 20px
    );
}

.md-form .prefix ~ input.color {
    margin-left: 3rem;
    width: calc(100% - 3rem);
}

.propertyAccordion .btn.btn-outline-primary {
    padding: 0px;
}

#modalWarningSave {
    z-index: 1200 !important;
}

.md-form input[type=text]:not([readonly]), 
.md-form input[type=password]:not([readonly]), 
.md-form input[type=email]:not([readonly]), 
.md-form input[type=url]:not([readonly]), 
.md-form input[type=time]:not([readonly]), 
.md-form input[type=date]:not([readonly]), 
.md-form input[type=datetime-local]:not([readonly]), 
.md-form input[type=tel]:not([readonly]), 
.md-form input[type=number]:not([readonly]), 
.md-form input[type=search-md]:not([readonly]), 
.md-form input[type=search]:not([readonly]), 
.md-form textarea.md-textarea:not([readonly]) {
    &.ng-invalid {
        box-shadow: 0 1px 0 0 #f02435;
        border-bottom: 1px solid #f02435;

        + label {
            color: #f02435;
        }
    }
    
    &.ng-touched {
        &.ng-valid {
            box-shadow: 0 1px 0 0 #00c851;
            border-bottom: 1px solid #00c851;
    
            + label {
                color: #00c851;
            }
        }
    }
}

.ql-snow.ql-toolbar button.show-source-code, 
.ql-snow .ql-toolbar button.show-source-code {
    width: auto;
}

.wysiwyg-source-code textarea {
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 0.9em;
    display: block;
    width: 100%;
    min-height: 100px;
}