<div class="row">
  <div class="col">
    <app-breadcrumb [breadcrumbs]=breadcrumbs></app-breadcrumb>
  </div>
  <div class="builder-actions text-right col">
    <button type="button" class="btn btn-secondary btn-rounded waves-light" (click)="showPreview()" mdbWavesEffect>Aperçu</button>
    <button type="button" class="btn btn-secondary btn-rounded waves-light" mdbWavesEffect>Litmus</button>
    <button type="button" class="btn btn-secondary btn-rounded waves-light" (click)="modalSendEmails.show()" mdbWavesEffect>Envoi</button>
    <button type="button" class="btn btn-secondary btn-rounded waves-light" (click)="exportEmails()" mdbWavesEffect>Exporter</button>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <div class="card" #dragNDropBlocksList [ngClass]="{'fixed': blocksFixed}">
      <div class="card-header secondary-color white-text">
        Blocs
      </div>
      <div class="card-body row">
        <div class="input-group mb-3 col-12" *ngIf="blocks">
          <div class="input-group-prepend">
            <span class="input-group-text secondary-color"><i class="fa fa-filter text-white" aria-hidden="true"></i></span>
          </div>
          <input class="form-control my-0 py-1" type="text" placeholder="Filtrer" aria-label="Filtrer" appDebounceChange (debounceChange)="filterBlocks($event)">
        </div>
        <div class="col-12" [sortablejs]="filteredBlocks" [sortablejsOptions]="blockLibraryOptions" id="builderBlockList">
          <div class="alert alert-danger" *ngIf="filteredBlocks?.length==0">Il n'y a aucun bloc à afficher</div>
          <div *ngFor="let block of filteredBlocks" [class]="'card block text-center mb-3 ' + block?.name" [blockData]="block">
            <img class="img-fluid" [src]="block?.thumbnailUrl" [alt]="block?.displayName">
            <div class="card-body">
              <h4 class="card-title">{{ block.displayName }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-7">
    <div class="card">
      <div class="card-header secondary-color white-text">
        Contenu de l'email
      </div>
      <div class="card-body">
        <div class="alert grey white-text" role="alert" *ngIf="campaignStructure?.length<=0">Déposer les blocs ici.</div>
        <div sortablejs [sortablejsOptions]="dropZoneOptions" id="blockDropZone">
          <div *ngFor="let block of campaignStructure" [class]="'card block mb-3 ' + block.name" [class.invalid]="block.valid==false">
            <img class="img-fluid" [src]="getBlockTypeInfo(block.blockType).thumbnailUrl" [alt]="getBlockTypeInfo(block.blockType).displayName">
            <div class="card-body row">
                <div class="text col-sm-8">
                  <h4 class="card-title">{{ getBlockTypeInfo(block.blockType).displayName }}</h4>
                  <p>#ID: {{ block.name }}</p>
                </div>
                <div class="actions col-sm-4 text-right">
                    <a class="btn-floating btn-sm btn-secondary waves-light mr-1" (click)="showDeleteConfirmation(block)" mdbTooltip="Supprimer" placement="top" mdbWavesEffect>
                      <i class="fa fa-trash"></i>
                    </a>
                    <a class="btn-floating btn-sm btn-secondary waves-light" (click)="modalBlockSettings.show(block)" mdbTooltip="Options" placement="top" mdbWavesEffect *ngIf="getBlockTypeInfo(block.blockType).properties.length>0">
                      <i class="fa fa-cog"></i>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalBlockRemove="mdb-modal" class="modal fade" id="modalBlockRemove" tabindex="-1" role="dialog" aria-labelledby="Supprimer le bloc" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header white-text">
        <p class="heading lead">Suppression du bloc</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalBlockRemove.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="block">
        <div class="text-center">
          <i class="fa fa-trash fa-4x mb-3 animated rotateIn"></i>
          <p>Êtes-vous sûr de vouloir supprimer<br>le bloc #ID <strong>{{ block.name }}</strong> ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="modalBlockRemove.hide()" mdbWavesEffect>Annuler</button>
        <button type="button" class="btn btn-secondary" (click)="removeBlock(block)" mdbWavesEffect>Supprimer</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalPreviewEmails="mdb-modal" class="modal fade" id="modalPreviewEmails" tabindex="-1" role="dialog" aria-labelledby="Aperçu des emails" aria-hidden="true" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Aperçu des emails</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalPreviewEmails.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="buildInProgress" class="text-center">
          <p>Génération des emails en cours...</p>
          <mdb-spinner spinnerColor="red"></mdb-spinner>
        </div>
        <div class="previewLinks" *ngIf="!buildInProgress && previewLinks">
          <a *ngFor="let link of previewLinks" class="btn btn-light-green waves-light"[href]="link.url" target="_blank" mdbWavesEffect>{{ link.lang }}</a>
          <a class="btn btn-secondary btn-rounded" (click)="openAllPreviews()" mdbWavesEffect>Tous les ouvrir</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="modalPreviewEmails.hide()" mdbWavesEffect>Fermer</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalExportEmails="mdb-modal" class="modal fade" id="modalExportEmails" tabindex="-1" role="dialog" aria-labelledby="Export des emails" aria-hidden="true" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Export des emails</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="buildInProgress" class="text-center">
          <p>Génération de l'archive en cours...</p>
          <mdb-spinner spinnerColor="red"></mdb-spinner>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-send-test #modalSendEmails [brandName]="brand?.name" [campaignName]="campaign?.name"></app-modal-send-test>
<app-modal-block-settings #modalBlockSettings (valid)="setBlockStatus($event)"></app-modal-block-settings>
