<table role="component" width="600" class="w100pc" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
        <td class="w100pc" style="padding: 25px; font-family: FuturaBook, Verdana; color:#434343; font-size: 16px; ">
          Bonjour %name%, 
          <br><br>
          suite a votre demande....
          <br><br>
          <a href="//www.salomon.com" target="_blank" style="color:#00aeef!important">Suivez ce lien</a>
          <br><br>
          Si vous avez des questions, n’hésitez pas à contacter notre service client au <a style="color:#00aeef!important" href="tel:+33481680597">0033 481680597</a> ou utiliser le <a style="color:#00aeef!important" href="#">formulaire de contact</a> en ligne
          <br><br>
          A très bientot,
          <br>
          Salomon 
        </td>
    </tr>
  </tbody>
</table>