<table role="component" width="600" class="w100pc" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
        <td class="w100pc" style="padding: 25px; font-family: FuturaBook, Verdana; color:#434343; font-size: 16px; ">
          <b style="font-family: FuturaBook, Verdana; color:#1C1C1C; font-size: 18px;text-transform: uppercase">MERCI POUR VOTRE INSCRIPTION</b>
          <br><br>
          Bonjour %name%, 
          <br><br><br>
          Nous vous confirmons la création de votre compte, dont voici les informations de connexion :<br> 
          E-mail: %email%
          <br><br><br>
          Votre compte vous permet de :<br>
          • Commander sur <a href="//www.salomon.com" target="_blank" style="color:#00aeef!important">www.salomon.com</a><br>
          • Consulter le suivi de votre commande à tout moment<br>
          • Consulter l’historique de vos commandes<br>
          • Modifier vos informations personnelles et votre mot de passe<br>
          <br><br>
          Si vous avez des questions, n’hésitez pas à contacter notre service client au <a style="color:#00aeef!important" href="tel:+33481680597">0033 481680597</a> (du lundi au vendredi, de 9 h 00 à 18 h 00 ; prix d’un appel local).
          <br><br><br>
          Merci,
          <br>
          Salomon 
        </td>
    </tr>
  </tbody>
</table>