<div mdbModal #recipientsModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Gestion des destinataires" aria-hidden="true" [config]="config">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="brand">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="recipientsModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Gestion des destinataires - {{ brand?.displayName }}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="error">
          Veuillez renseigner tous les champs du formulaire et vérifier que l'adresse email soit unique.
        </div>
        <div class="table-wrapper-scroll">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="align-top">Nom</th>
                <th class="align-top">Prénom</th>
                <th class="align-top">Adresse email</th>
                <th class="text-right actions align-top">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let recipient of recipients">
                <td contenteditable="true" placeholder="Nom" (focusout)="edit('lastname', $event, recipient.email)">{{ recipient.lastname }}</td>
                <td contenteditable="true" placeholder="Prénom" (focusout)="edit('firstname', $event, recipient.email)">{{ recipient.firstname }}</td>
                <td>{{ recipient.email }}</td>
                <td class="text-right align-middle actions">
                  <a class="btn-floating btn-sm btn-secondary waves-light" mdbWavesEffect (click)="remove(recipient.email)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="addNewRecipient light-green lighten-3">
                <td contenteditable="true" placeholder="Nom" [innerText]="(newRecipient.lastname) ? newRecipient.lastname : ''" (focusout)="edit('lastname', $event)"></td>
                <td contenteditable="true" placeholder="Prénom" [innerText]="(newRecipient.firstname) ? newRecipient.firstname : ''" (focusout)="edit('firstname', $event)"></td>
                <td contenteditable="true" placeholder="Email" [innerText]="(newRecipient.email) ? newRecipient.email : ''" (focusout)="edit('email', $event)"></td>
                <td class="text-right align-middle actions">
                  <a class="btn-floating btn-sm btn-green waves-light" mdbWavesEffect (click)="add()"><i class="fa fa-plus"></i></a>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey waves-light" aria-label="Close" (click)="recipientsModal.hide()" mdbWavesEffect>Fermer</button>
        <button type="button" class="btn btn-green waves-light" aria-label="Close" (click)="save()" mdbWavesEffect>Enregistrer</button>
      </div>
    </div>
  </div>
</div>
