<!-- Image and text -->
<mdb-navbar SideClass="navbar navbar-dark secondary-color mb-3">
  <logo>
    <a class="navbar-brand" href="#">
      <i class="fa fa-envelope"></i> 
      WIDE Email Engine
    </a>
  </logo>
</mdb-navbar>
<div class="container">
  <router-outlet>
    <!-- Le contenu de nos routes s'affichera ici -->
  </router-outlet>
</div>
<!-- Footer -->
<footer class="footer-stepper mt-4">
  <app-stepper [currentStep]="currentStep"></app-stepper>
</footer>
<!-- Footer -->

                                    

