<!-- Image and text -->
<mdb-navbar SideClass="navbar navbar-dark primary-color mb-3">
  <logo>
    <a class="navbar-brand" href="#">
      <i class="fa fa-envelope"></i> 
      WIDE Email Engine
    </a>
  </logo>
</mdb-navbar>
<div class="container">
  <router-outlet>
    <!-- Le contenu de nos routes s'affichera ici -->
  </router-outlet>
</div>
<!-- Footer -->
<footer class="page-footer font-small elegant-color pt-4 mt-5">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">WIDE Email Engine</h5>
        <p>WIDE Email Engine est un outil permettant de faciliter la création de newsletters multilingues à l'aide de blocs prédéfinis.</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Aide et documentation</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2018 Copyright <a href="http://www.wideagency.ch/">WIDE Agency</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

                                    

