<!-- Image and text -->
<mdb-navbar SideClass="navbar navbar-dark secondary-color mb-3">
  <logo>
    <a class="navbar-brand" href="#">
      <i class="fa fa-envelope"></i> 
      WIDE Email Engine
    </a>
  </logo>
</mdb-navbar>
<div class="container">
  <router-outlet>
    <!-- Le contenu de nos routes s'affichera ici -->
  </router-outlet>
</div>
<!-- Footer -->
<footer class="footer-copyright text-center py-3 elegant-color text-white mt-4">
    © 2018 Copyright <a href="http://www.wideagency.ch/">WIDE Agency</a>
</footer>
<!-- Footer -->

                                    

