
Corps
<strong class="fontsize16">Nespresso</strong>


Footer
<strong class="bold" style="font-weight: bold;">Nespresso</strong>
<a href="http://www.nespresso.com" style="color: #f9f7f3; font-size: 12px; line-height: 18px;">www.nespresso.com</a>
<a href="tel:0800555253" style="color: #f9f7f3; font-size: 12px; line-height: 18px; white-space: nowrap; display:inline-block;">0800 55 52 53</a>
<strong class="bold" style="font-weight: bold;">iPhone®</strong>, <strong class="bold" style="font-weight: bold;">iPad®</strong> et <strong class="bold" style="font-weight: bold;">Android™</strong>
<em>iPhone®</em>, <em>iPad®</em> et <em>Android™</em>

&nbsp;
(2x&nbsp;<strong class="bold" style="font-weight: bold;">Envivo</strong> Lungo, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Fortissio</strong> Lungo, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Dharkan</strong>, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Ristretto</strong>, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Arpeggio</strong>, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Livanto</strong> ed 1x&nbsp;<strong class="bold" style="font-weight: bold;">Roma</strong>)
(1x&nbsp;<strong class="bold" style="font-weight: bold;">Vivalto</strong> Lungo, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Vivalto</strong> Lungo Decaffeinato, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Linizio</strong> Lungo, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Volluto</strong>, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Cosi</strong>, 1x&nbsp;<strong class="bold" style="font-weight: bold;">Livanto</strong> ed 1x&nbsp;<strong class="bold" style="font-weight: bold;">Rosabaya</strong> de Colombia)