<!-- block 02 -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top">

      <table role="presentation" width="670" border="0" align="center" cellpadding="0" cellspacing="0" class="w100pc">
        <tr>
          <td width="15"></td>
          <td align="center" valign="top" bgcolor="{{data.bgcolor}}">
            <a href="{{data.url}}" class="nomob">
              <img src="{{data.img}}" width="{{data.img-w}}" height="{{data.img-h}}" border="0" alt="" style="display:block;" class="w100pc">
            </a>
            <a href="{{data.url-mobile}}" class="showmob" style="display: none;">
              <img src="{{data.img-mobile}}" width="100%" border="0" alt="" style="display:block;" class="w100pc">
            </a>
          </td>
          <td width="15"></td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>
<!-- /block 02 -->