@import '../../scss/master';

.master {
  background: url('../images/master-bg.png') fixed;

  h1 {
    font-family: $font-bold;
    font-size: $font-size-xbig;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 50px 0;
    background: $color-white;
    border-bottom: 1px solid #e2e2e2;
  }

  &__block {
    padding-top: 100px;
    &__name {
      max-width: $mobile-width;
      margin: auto;
      font-family: $font-bold;
      font-size: $font-size-big;
      pre {
        font-family: $font-regular;
        font-size: $font-size;
        margin: 0;
        white-space: pre-wrap;
      }
    }
    &__content {
      background: white;
      clear: both;
    }
  }
}